@model profjulioguimaraes.Models.Amigo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Amigo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group form-check">
                <label asp-for="ImagemUrl" class="control-label"></label>
                <input type="file" name="image" class="form-control" accept=".jpg" required />
                <input type="hidden" name="ImagemUrl" value="dummy" />
            </div>

            <div class="form-group">
                <label asp-for="PrimeiroNome" class="control-label"></label>
                <input asp-for="PrimeiroNome" class="form-control" />
                <span asp-validation-for="PrimeiroNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sobrenome" class="control-label"></label>
                <input asp-for="Sobrenome" class="form-control" />
                <span asp-validation-for="Sobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeFilhos" class="control-label"></label>
                <input asp-for="QuantidadeFilhos" class="form-control" />
                <span asp-validation-for="QuantidadeFilhos" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PossuiParentesco" /> @Html.DisplayNameFor(model => model.PossuiParentesco)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
